/* Colour Palette:
Dark Pinkish Brown: #512200;
*/

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}
p {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0em;
  font-size: 1.75em;
  font-weight: bold;
  float: center;
}

h1 {
	color: #512200;
	font-weight: bold;
	display: block;
	margin: 0em;
	text-align: center;
	font-size: 3em;
	padding-bottom: .35em;
	padding-top: .50em;
}

h1: hover {
	background-color: #ba6e8d;

}
.h2 {
	background-image: url("../img/cement.jpg");
	background-size: cover;
	display: block;
	padding: 6em;
	margin: 0;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, rgba(0,0,0,), rgba(0,0,0.50));
}

h2 {
	background-color: #ba6e8d;
	font-size: 1.5em;
	color: #fff;
	background-position: center center;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: bold;
}

h2:hover {
	background-color: #ba6e8d;
}
.masthead {
	padding: 1em;
	background-image: url("../images/logo.svg"), url("../images/logo.svg"), url("../images/bg-pattern.png");
	background-size: 70px auto, 70px auto, 100px auto;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left top 20px, right top 20px, center 10px;
}

img {
 	width: 100%;
  	display: block;
}
.allimages {
	position: relative;
	clear: both;
}
.beetle-l {
	float: left;
  	margin-top: 0.3rem;
  	width: 40px;

}
.beetle-r {
  	float: right;
  	margin-top: 0.3rem;
  	width: 40px;
}
.beetle-images {
	overflow: hidden;
}

.beetle-1 {
  	width: 50%;
  	float: left;
  	display: block;
}

.beetle-2 {
  	width: 50%;
  	float: right;
  	display: block;
}

.beetle-3 {
  	width: 50%;
  	float: left;
  	display: block;
}

.beetle-4 {
  	width: 50%;
  	float: right;
  	display: block;
}

.btn-1 {
  	display: inline-block;
  	padding: 0.25em 0.75em;
  	text-decoration: none;
  	border-radius: 10px;
  	color: #fff;
  	background-color: #a8ae98;
  	background-image: linear-gradient(to bottom, #6FC000, #388200);
  	position: absolute;
  	bottom: 32.3%;
  	left: 13%;
  	width: 25%;
  	text-align: center;
  	font-weight: bold;
}

.btn-2 {
  	display: inline-block;
  	padding: 0.25em 0.75em;
  	text-decoration: none;
  	border-radius: 10px;
  	color: #fff;
  	background-color: #a8ae98;
  	background-image: linear-gradient(to bottom, #6FC000, #388200);
  	position: absolute;
  	bottom: 32.3%;
  	right: 13%;
  	width: 25%;
 	text-align: center;
  	font-weight: bold;
}

.btn-3 {
 	display: inline-block;
  	padding: 0.25em 0.75em;
  	text-decoration: none;
  	border-radius: 10px;
  	color: #fff;
  	background-color: #a8ae98;
  	background-image: linear-gradient(to bottom, #6FC000, #388200);
  	position: absolute;
  	bottom: 7.4%%;
  	left: 13%;
  	width: 25%;
  	text-align: center;
  	font-weight: bold;
}

.btn-4 {
  	display: inline-block;
  	padding: 0.25em 0.75em;
  	text-decoration: none;
  	border-radius: 10px;
  	color: #fff;
  	background-color: #a8ae98;
  	background-image: linear-gradient(to bottom, #6FC000, #388200);
  	position: absolute;
  	bottom: 7.4%%;
  	right: 13%;
  	width: 25%;
  	text-align: center;
  	font-weight: bold;
}

.btn-1:hover {
  	background-color: black;
}
.gravel {
  	position: relative;
  	clear: both;
}

.button {
	padding: .25em .50em;
	display: inline-block;
	font-size: 1.25rem;
	color: #fff;
	position: absolute;
	left: 20%;
	bottom: 10px;
	text-decoration: none;
	border-radius: 20px;
	background-image: linear-gradient(to bottom, limegreen, darkgreen);
	box-shadow: 0 2px 5px rgba(0,0,0,1);
}

nav li {
	display: inline-block;
	float: left;
	width: 25%;
	list-style-type: none;
	padding: 0;
}

nav a {
	display: block;
	margin: 0;
	padding: 1em 1em 1em 1em;
	color: white;
	background-color: #512200;
	opacity: 0.5;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

a:hover {
	background-color: #512200;
	opacity: .75;
	color: white;
}

div a:hover {
	background-image: linear-gradient(to bottom, #214D00, #388200);
	opacity: 1;
}

nav ol {
	overflow: hidden;
	padding: 0;
	width: 100%;
	margin: 0;
}
.gradient {
  	background-image: linear-gradient (to bottom, black, transparent);
}

footer {
  	background-color: #512200;
  	opacity: 0.5;
  	clear: both;
    text-align: center;
}

.graphic {
  	width: 10%;
    margin: 0 auto;
  	opacity: 1;
}
